.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 15px;
}

.dialogs a {
  text-decoration: none;
  color: black;
}

.dialogsItems .active {
  color: white;
}

.messages {
  padding: 15px;
}

/* .textarea {
  margin-left: 15px;
  margin-bottom: 15px;
} */